{% extends "base.html" %}

{% block title %}
    <title>Add Custom Item</title>
{% endblock title %}

{% block content %}
    <div class="inline">
        <a href="{% url 'dashboard-manage-custom-items' %}"><i class="material-icons">chevron_left</i></a>
        <h1>{{ type.capitalize }} Custom Item</h1>
    </div>
    {% if form %}
    {% if type == 'add' %}
        <form action="{% url 'dashboard-add-custom-item' %}" method="POST">
    {% else %}
        <form action="{% url 'dashboard-edit-custom-item' item_id=item.id %}" method="POST">
    {% endif %}
            {% csrf_token %}
            {{ form }}
            {% if type == 'add' %}
                <input type="submit" value="Add" class="button">
            {% elif type == 'edit' %}
                <input type="submit" value="Update" class="button">
            {% endif %}
            {% if error %}
                <p class="errors">{{ error }}</p>
            {% endif %}
        </form>
    {% endif %}
{% endblock content %}