{% extends "base.html" %}

{% block title %}
    <title>Manage Custom Items</title>
{% endblock title %}

{% block content %}
    <h1>Manage Custom Items</h1>
    <div class="buttons">
        {% if user_type == 'admin' %}
            <a class="button" href="{% url 'dashboard-add-group' %}">Add Group</a>
        {% endif %}
        <a class="button" href="{% url 'dashboard-add-custom-item' %}">Add Item</a>
    </div>

    <div>
        {% for group, items in groups.items %}
            <table CELLSPACING=0>
                <tr>
                    <th class="table-80">
                        {{ group.capitalize }}
                    </th>
                    <th class="table-20">
                        Approximate Price
                    </th>
                </tr>
                {% for item in items %}
                    <tr> 
                        <td class="table-80"><a href="{% url 'dashboard-edit-custom-item' item_id=item.item_id %}">{{ item.item_name.capitalize }}</a></td>
                        {% if item.price %}
                            <td class="table-20">${{ item.price }}</td>
                        {% else %}
                            <td class="table-20">n/a</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>

    
{% endblock content %}